[Unit]
Description=merlot server
ConditionPathExists=/home/kristofer/go/bin/ink
After=network.target

[Service]
Type=simple
User=kristofer
LimitNOFILE=1024
PermissionsStartOnly=true

Restart=on-failure
RestartSec=100ms
StartLimitIntervalSec=60

WorkingDirectory=/home/kristofer/p/merlot
ExecStart=/home/kristofer/go/bin/ink ./src/main.ink

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/merlot
ExecStartPre=/bin/chown root:adm /var/log/merlot
ExecStartPre=/bin/chmod 755 /var/log/merlot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=merlot

[Install]
WantedBy=multi-user.target
